<div class="note">

  <div class="note-container">
    <div class="note-content">
      <p>
        <%= best_in_place note, :content, type: :textarea, :display_as => :html_safe_content %>
      </p>
    </div>
  </div>

  <div class="note-up">
    <div class="left">
      <%= distance_of_time_in_words_to_now(note.updated_at) %>
      ago
    </div>

    <div class="right">
      <%= link_to note, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="icon-trash"></i></a>
      <% end %>
    </div>
  </div>

</div>
