<div class="note">

  <div class="note-container">
    <div class="note-content">
      <p>
        <%= note.content.gsub("\n","<br/>").html_safe %>
      </p>
    </div>
  </div>

  <div class="note-up">
    <div class="left">
      <%= distance_of_time_in_words_to_now(note.updated_at) %>
      ago
    </div>

    <div class="right">
      <a href="<%= edit_note_path(note) %>"><i class="icon-pencil"></i> </a>
      <%= link_to note, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="icon-trash"></i></a>
      <% end %>
    </div>
  </div>

</div>
