<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <% if user_signed_in? %>
        <form action="/notes" method="get" class="navbar-search pull-left">
          <input id="search" name="search" value="<%= params[:search] %>" type="text" class="search-query" placeholder="Search" data-provide="typeahead" data-items="8" data-source='<%= get_hash_tags.to_json %>' autocomplete="off" >
        </form>
      <% else %>
        <form class="navbar-search pull-left">
          <input type="text" class="search-query" disabled placeholder="Search">
        </form>
      <% end %>
      <ul class="nav pull-right">
        <a class="btn" data-toggle="dropdown" href="#"><i class="icon-align-justify"></i></a>
        <ul class="dropdown-menu">
          <%= render 'devise/menu/registration_items' %>
          <%= render 'devise/menu/login_items' %>
        </ul>
      </ul>
    </div>
  </div>
</div>
